* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    width: 100%;
    height: 7vh;
    background-color: rgb(59, 70, 165);
    color: whitesmoke;
    top: 0;
    position: fixed;
}

.navbar h2 {
    margin-right: 1.9rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.navbar h4 {
    margin-right: 1.9rem;
    font-size: 0.9rem;
    font-weight: 200;
}


/* Input */

form {
    max-width: 60%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: inherit;
}
form input {
    flex: 0.8;
}

form input, form button {
    padding: 0.5rem;
    font-size: 0.9rem;
    border: none;
    background: rgb(240, 239, 239);
    outline: none;
    border-radius: 5px;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: white;
    transition: all 0.5s ease;
    font-weight: 500;
}

.fa-plus {
    color: palevioletred;
    margin-right: 5px;
}

form button:hover {
    background-color: lightgray;
}


/* Newly Inserted Todo */

.todo__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.todo__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    min-width: 55%;
}

.todo__item {
    border: 2px solid rgb(200, 200, 235);   
    border-bottom: 1px solid rgb(200, 200, 235);
    background-color: rgb(243, 237, 237);
    margin: 2px;
    border-radius: 8px;
    padding: 15px;
}

.todo__firstLiner {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.todo__secondLiner {
    display: flex;
    flex-direction: row-reverse;
}

.todo__secondLiner button {
    cursor: pointer;
    margin-left: 5px;
    color: rgb(83, 83, 95);
    font-size: 1rem;
    transition: all 0.5s ease;
    padding: 5px;
}

.complete__btn:hover {
    background-color: green;
    color: white;
}

.delete__btn:hover {
    background-color: red;
    color: white;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed__todo {
    text-decoration: line-through;
    opacity: 0.4;
}